* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.container {
    border-radius: 52px;
background: #ffffff;
box-shadow:  27px 27px 90px #a6a6a6,
             -27px -27px 90px #ffffff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}
.contain {
    margin-top: 1%;
}
.bar1,.bar2,.bar3 {
    width: 50px;
    height: 7px;
    transition: 0.5s;
    background: #000;
    margin: 10% 0 0 0;
    text-align: center;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px,6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-8px,-8px);
}
.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 20px;
    margin:4% 0 0 -10%;
    padding: 20px;
    border-radius: 66px;
background: #ffffff;
box-shadow:  22px 22px 45px #b8b8b8,
             -22px -22px 45px #ffffff;
             opacity: 0;
             pointer-events: none;
             transition: 1s;
}
.show{
    opacity: 1;
    pointer-events: auto;
    transform: rotate(360deg);
}
.ig {
    font-size: 40px;
    color: #8a3ab9;
    transition: 0.5s;
}
.ig:hover {
    transform: translateY(-10%);
}
.fb {
    font-size: 40px;
    color: #4267B2;
    transition: 0.5s;
}
.fb:hover {
    transform: translateY(-10%);
}
.twitter {
    font-size: 40px;
    color: #1DA1F2;
    transition: 0.5s;
}
.twitter:hover {
    transform: translateY(-10%);
}
.twitch {
    color: #6441a5;
    font-size: 40px;
    transition: 0.5s;
}
.twitch:hover {
    transform: translateY(-10%);
}

